<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,600italic,300italic,400italic,300,700italic,800italic,800"
    rel="stylesheet" type="text/css" />
  <link href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" media="all"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="CSS/index.css">
  <title>Cryptoquiz by Team .EXE</title>
</head>

<body>
  <div class="navigation-bar">
    <nav class="navbar navbar-light justify-content-between">
      <% if(isAuthenticated){ %>
        <a class="navbar-brand">Hello <%=name.playerName%>,</a>
        <% }else{ %>
          <a class="navbar-brand">Hello Guest,</a>
        <% } %>
      <form class="form-inline" method="POST" action="/logout">
        <% if(!isAuthenticated) { %>
          <a href="/login" class="btn btn-primary">Login</a>
          <a href="/register" class="btn btn-success">Register</a>
        <% }else{ %>
          <input type="text" hidden name="_csrf" value="<%=csrfToken%>">
          <button type="submit" class="btn btn-primary">Logout</a>
        <% } %>  
      </form>
    </nav>
  </div>
  <section class="gradient">
    <h1 style="padding-top: 50px;">Hello there</h1>
    <a href="quiz.html" class="btn btn-primary">Quiz</a>
    <img src="Assets/imgs/wave3.png" alt="" class="wave wave1">
  </section>
  <section class="plain">
    <h1>Hello world</h1>
  </section>
  <section class="gradient sec-3">
    <img src="Assets/imgs/wave5.png" alt="" class="wave wave2">

    <h1 style="padding-top: 150px;">Hello there</h1>
    <img src="Assets/imgs/wave4.png" alt="" class="wave wave1">
  </section>
  <section class="plain">
    <h1 style="padding-top: 50px;">Hello there</h1>
  </section>


  <!-- Footer begins -->
  <div class="section fp-auto-height">
    <footer>
      <div class="col-lg-12 f-logo">
        <a href="https://teamexe.in/" target="blank"><img style="cursor: pointer;" src="Assets/imgs/icon.webp"
            alt="logo" width="200px"></a>
      </div>

      <!-- <i class="mdi mdi-chevron-double-up page-link" dest="home" title="Back To Top"></i> -->

      <div class="icon-wrap flex row">
        <a href="https://www.linkedin.com/company/exe-nith/" target="_blank">
          <div class="flex icon icon1" id="icon-1">
            <i class="mdi mdi-linkedin"></i>
          </div>
        </a>

        <a href="https://www.instagram.com/teamexenith" target="_blank">
          <div class="flex icon icon2" id="icon-2">
            <span class="mdi mdi-instagram"></span>
          </div>
        </a>
        <a href="https://www.facebook.com/teamexe/" class="hide" target="_blank">
          <div class="flex icon icon3" id="icon-3">
            <i class="mdi mdi-facebook"></i>
          </div>
        </a>
        <a href="mailto: teamexenith@gmail.com" target="_blank">
          <div class="flex icon icon4" id="icon-4">
            <i class="mdi mdi-gmail"></i>
          </div>
        </a>
        <a href="https://github.com/Teamexe" target="_blank">
          <div class="flex icon icon5" id="icon-5">
            <i class="mdi mdi-github"></i>
          </div>
        </a>

      </div>
      <div class="info-box">
        <div class="footnote">
          Copyright &copy; <span class="highlight">
            <script>document.write(new Date().getFullYear())</script>
          </span> Team.EXE </span>
          <br>
          All Rights Reserved.
        </div>
      </div>
    </footer>
  </div>
  <!--Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
  <script src="JS/base.js"></script>
</body>

</html>